@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {  
  font-family: 'Inter', sans-serif;
}

:root {
  --red-color: #F12D2D;
  --light-yellow: #FFDE59;
  --white: #FFFFFF;
  --gray: #808080;
  --black: #000000;
}