/* * {
    border: 1px solid red;
} */

body {
    background-image: url('/assets/png/bg-pipoca.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
  }
  
  

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-right: 2rem;
}

.logo img {
    width: 70px;
    height: 70px;
    
}
.logo {
    padding-left: 1.2rem;
}
.icon-person {
    font-size: 1.5rem;
    color: var(--red-color);
}

nav {
    display: flex;
    
}

nav ul {
    display: flex;
    align-items: center;
    
}


nav ul li {
    list-style: none;
    
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.8rem 3rem;
}

nav ul li a:hover {
    background-color: var(--red-color);
    color: white;
    border-radius: 80px;
}

.login-area {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1.5rem;
}

.login-area a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 0.9rem;
}

.login-area span {
    border: 1px solid gray;
    height: 2rem;
}


