.login-container {
  content: "";
  background-image: url('/assets/png/bg-login-page.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: calc(100vh - 70px);
}

.login-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;  
}

.ibson-face {
  display: flex; 
  width: 50%;  
  justify-content: center;
}

.login-content-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background: #FFDE59;
  opacity: 0.8;
}
